body{

    background-color: rgb(253, 165, 0);
}
.home{
    justify-content: center;
    display: flex; 
}
.conteiner{ 
    background-color: white;
    width: 400px;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 10px 10px;
    margin-left: 20px;

}
.conteiner:hover{
    background: white;
    border: 1px solid black;

}

.img{ display: flex;
    justify-content: center;
    margin-top: 20px;

}
.img:hover{
    background: none;
}
button{
    background-color: chocolate;
    border:  solid chocolate;
    justify-content: left;
    margin-left: 30px;
    width: 100px;
    height: 35px;

}
button:hover{
    background: none;
}
.box{ 

}
h2{

}
p{
margin-left: 30px;
}
h1{
    margin-left: 30px;
}
.go{
    align-items: center;  
    justify-content: center;
    margin-left: 30px;
}